<% content_for(:head) do %>
  <script type="text/javascript">
    $(function(){
      $('.container').addClass('group');
    });
  </script>
<% end %>
<div class="chat-room">
  <div id="chats">
  <h1>Info#home</h1>
  <p>Find me in app/views/info/home.html.erb</p>
  </div>
  <div id="chat_entry">
    <textarea placeholder="Enter a chat"></textarea>
  </div>
</div>